docytype
html
    head
        meta(charset='utf-8')
        title project edit
    body
        form(action='/project/save' method='post')
            input(name='name' value='#{title}')
            br
            br
            input(type='submit')